@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 142 71% 35%; /* hijau utama */
    --primary-foreground: 210 40% 98%;

    --secondary: 142 30% 90%; /* hijau muda */
    --secondary-foreground: 142 71% 35%;

    --muted: 142 30% 90%;
    --muted-foreground: 142 20% 30%;

    --accent: 142 40% 80%;
    --accent-foreground: 142 71% 35%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 142 30% 80%;
    --input: 142 30% 80%;
    --ring: 142 71% 35%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 142 71% 10%;
    --foreground: 210 40% 98%;
    --primary: 142 71% 35%;
    --primary-foreground: 210 40% 98%;
    --secondary: 142 30% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 142 30% 20%;
    --muted-foreground: 142 20% 80%;
    --accent: 142 40% 30%;
    --accent-foreground: 210 40% 98%;
    --border: 142 30% 30%;
    --input: 142 30% 30%;
    --ring: 142 71% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}